.giving-a-gift-img {
  width: 50vw;
  display: block;
}

.gifter-commit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
}

.item-name {
  font-size: 0.7rem;
}

.gifter-commit-page h2 {
  text-align: center;
}

.gift-btn-wrapper {
  align-self: center;
  justify-self: center;
}

@media (max-width: 850px) {
  .gifter-commit-page {
    margin: 1rem;
  }
}
@media (max-width: 850px) AND (orientation: landscape) {
  .giving-a-gift-img {
    width: unset;
    height: 34vh;
  }
}
